<!--<section class="portal-notes section-pad h-auto">-->
<section class="portal-notes">
  <v-layout v-resize="onResize" >

    <note-detail :note.sync="currentNote" ref="noteDetail"></note-detail>
    <preview-note @edit-note="editNote" :note.sync="previewingNote" ref="previewDialog"></preview-note>

    <v-container fluid>
      <v-layout row wrap>

        <note-compose></note-compose>

        <notes-grid :notes.sync="notesResult.content" @view-note="viewNote"></notes-grid>

      </v-layout>
    </v-container>

  </v-layout>
</section>
