<!--<section class="portal-notes section-pad h-auto">-->
<section class="portal-notes">
  <v-layout justify-center>

    <v-flex xs12 sm12>
      <!-- S: CARD GROUP WRAPPER -->
      <v-card color="transparent" flat>
        <v-container fluid grid-list-md>
          <v-layout row wrap>
            <v-flex v-for="note in notesResult.content" xs4>

              <!-- S: NOTE CARD -->
              <v-card class="fill-height fluid">
                <v-card-title primary-title>
                  <v-text-field v-model="note.noteTitle" label="title" solo flat
                                class="font-weight-bold"></v-text-field>
                  <v-tooltip bottom>
                    <v-btn icon slot="activator" dark>
                      <v-icon color="accent">beenhere</v-icon>
                    </v-btn>
                    <span>Pin</span>
                  </v-tooltip>
                </v-card-title>

                <v-container class="note-body-description" fluid>
                  <v-layout fill-height>
                    <v-flex xs12 align-end flexbox>
                      <v-textarea
                        solo
                        flat
                        label="Note Body"
                        auto-grow
                        :value="note.noteBody.substring(0, 280).concat('...') | striphtml"></v-textarea>
                    </v-flex>
                  </v-layout>
                </v-container>

                <v-card-actions>

                  <v-toolbar solo flat color="transparent">

                    <v-tooltip bottom>
                      <v-btn icon slot="activator" dark>
                        <v-icon color="danger">delete</v-icon>
                      </v-btn>
                      <span>Trash</span>
                    </v-tooltip>

                    <v-spacer></v-spacer>

                    <v-tooltip bottom>
                      <v-btn icon slot="activator" dark>
                        <v-icon color="accent">layers</v-icon>
                      </v-btn>
                      <span>Create Cards</span>
                    </v-tooltip>

                    <v-tooltip bottom>
                      <v-btn icon slot="activator" dark>
                        <v-icon color="accent">filter_list</v-icon>
                      </v-btn>
                      <span>Create Snippet</span>
                    </v-tooltip>

                    <v-tooltip bottom>
                      <v-btn icon slot="activator" dark>
                        <v-icon color="accent">star</v-icon>
                      </v-btn>
                      <span>Add Favorite</span>
                    </v-tooltip>

                    <v-menu bottom left>
                      <v-btn slot="activator" icon>
                        <v-icon>more_vert</v-icon>
                      </v-btn>

                      <v-list>
                        <v-list-tile @click="">
                          <v-list-tile-title>Share</v-list-tile-title>
                        </v-list-tile>
                        <v-list-tile @click="">
                          <v-list-tile-title>Duplicate</v-list-tile-title>
                        </v-list-tile>
                        <v-list-tile @click="">
                          <v-list-tile-title>Archive</v-list-tile-title>
                        </v-list-tile>
                      </v-list>
                    </v-menu>

                  </v-toolbar>
                  <!---->
                  <!--<v-btn flat color="orange">Share</v-btn>-->
                  <!--<v-btn flat color="orange">Explore</v-btn>-->
                </v-card-actions>
              </v-card>
              <!-- E: NOTE CARD -->

            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
      <!-- E: CARD GROUP WRAPPER -->
    </v-flex>
  </v-layout>
</section>
<!--<section class="portal-notes section-pad h-auto">-->
<!---->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-sm-8">-->
<!--<h3>{{currentUserFirstName}}'s Notes</h3>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-sm-4" v-for="note in notesResult.content">-->
<!--<div class="card card-shadow" >-->
<!--<div class="card-body">-->
<!--<h5 class="card-title">-->
<!--<router-link :to="{ name: 'PortalNoteView', params: { id: note.id }}">-->
<!--<strong>{{ note.noteTitle }}</strong>-->
<!--</router-link>-->
<!--</h5>-->
<!--<p class="card-text">{{ note.noteBody.substring(0, 350).concat('...') | striphtml }}</p>-->
<!--<p class="card-text"><small class="text-muted">{{note.noteCreatedTime | moment("MMMM Do YYYY, h:mm:ss a") }}</small></p>-->
<!--</div>-->
<!--<div class="card-footer">-->
<!--<button class="btn btn-danger btn-shadow btn-rounded float-sm-left" v-on:click="toggleDeleteConfirm(note)">-->
<!--<i class="zmdi zmdi-delete"></i>-->
<!--</button>-->

<!--<router-link :to="{ name: 'PortalNoteView', params: { id: note.id }}" class="btn btn-info btn-shadow btn-rounded float-sm-right">-->
<!--<i class="zmdi zmdi-eye"></i>-->
<!--</router-link>-->
<!--<span class="float-sm-right">&nbsp;</span>-->
<!--<router-link :to="{ name: 'PortalNoteDetail', params: { id: note.id }}" class="btn btn-success btn-shadow btn-rounded float-sm-right">-->
<!--<i class="zmdi zmdi-edit"></i>-->
<!--</router-link>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<b-modal id="modal-center" ref="deleteNote"-->
<!--@ok="deleteNote"-->
<!--:ok-title="'Delete'"-->
<!--:ok-variant="'danger'"-->
<!--@cancel="toggleDeleteConfirm()"-->
<!--:cancel-title="'Cancel'"-->
<!--centered title="Confirm Note Delete?">-->
<!--<p class="my-4">Are you sure you want to delete this note?</p>-->
<!--</b-modal>-->
<!--</section>-->

