
<section class="portal-notes section-pad">
  <h1>portal-notes Component</h1>

  <div class="card-deck">
    <div class="card" v-for="note in notesResult.content">
      <div class="card-body">
        <h5 class="card-title"><strong>{{ note.noteTitle }}</strong></h5>
        <p class="card-text">{{ note.noteBody.substring(0, 350).concat('...') | striphtml }}</p>
        <p class="card-text"><small class="text-muted">{{note.noteCreatedTime | moment("dddd, MMMM Do YYYY, h:mm:ss a") }}</small></p>
      </div>
      <div class="card-footer">
        <router-link :to="{ name: 'PortalNoteDetail', params: { id: note.id }}" class="btn btn-primary">Edit</router-link>
      </div>
    </div>
  </div>

</section>

