.portal-note-view {
}

.note-action {
  padding: 16px 0;
  margin-bottom: 20px;
  background-color: #f7f7f7;
}

.note-action-back {
  padding: 0 24px;
  text-align: left;
}
.note-action-edit {
  padding: 0 24px;
  text-align: right;
}

.title-box {
  h2 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
  }
}
.hljs {
  padding: 2em !important;
  border-radius: 5px;
}
