
.quick-compose {
  background-color: #808598!important;
  color: #ffffff!important;;
}

.v-expansion-panel__header__icon .v-icon {
  color: #ffffff !important;
}

.quick-compose .qc-header {
  background-color: transparent!important;
  font-size: 18px;
}
