
<section class="portal-search-notes">

  <div class="container-fluid">
    <div class="row note-action">
      <div class="col-sm-6">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="search-term">Search Results</span>
          </div>
          <input v-model="search.term" type="text"
                 v-on:keyup.enter="refreshSearch"
                 class="form-control search-term-input"
                 placeholder="Search Term" aria-label="Term" aria-describedby="search-term">
        </div>
      </div>
      <div class="col-sm-2">
        <button v-on:click="refreshSearch()"
                class="btn btn-success btn-shadow btn-rounded" title="Search">
          Search &nbsp; <i class="zmdi zmdi-search"></i>
        </button>
      </div>
      <div class="col-sm-2 offset-sm-1">
        <b-pagination size="md"
                      v-on:change="refreshSearch"
                      v-model="search.page"
                      :total-rows="result.totalElements"
                      :per-page="search.size"></b-pagination>
      </div>
    </div>
    <div class="row result">
      <div class="col-sm-4" v-for="note in result.content">
        <div class="card card-shadow" >
          <div class="card-body">
            <h5 class="card-title">
              <router-link :to="{ name: 'PortalNoteView', params: { id: note.id }}">
                <strong>{{ note.noteTitle }}</strong>
              </router-link>
            </h5>
            <p class="card-text">{{ note.noteBody.substring(0, 350).concat('...') | striphtml }}</p>
            <p class="card-text"><small class="text-muted">{{note.noteCreatedTime | moment("MMMM Do YYYY, h:mm:ss a") }}</small></p>
          </div>
          <div class="card-footer">
            <button class="btn btn-danger btn-shadow btn-rounded float-sm-left" v-on:click="deleteNote(note)">
              <i class="zmdi zmdi-delete"></i>
            </button>

            <router-link :to="{ name: 'PortalNoteView', params: { id: note.id }}" class="btn btn-info btn-shadow btn-rounded float-sm-right">
              <i class="zmdi zmdi-eye"></i>
            </router-link>
            <span class="float-sm-right">&nbsp;</span>
            <router-link :to="{ name: 'PortalNoteDetail', params: { id: note.id }}" class="btn btn-success btn-shadow btn-rounded float-sm-right">
              <i class="zmdi zmdi-edit"></i>
            </router-link>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>

