.ql-toolbar {
  position: absolute;
  z-index: 99999;
  bottom: 0;
  width: 90%;
  background-color: #ffc107c4;
  left: 60px;
  border: 0!important;
}
.quillWrapper {
  height: 275px!important;
}
#editorWrap {
  height: 275px!important;;
}

