<section class="portal-layout">
  <v-app id="keep">
    <v-navigation-drawer v-model="drawer" fixed clipped class="grey lighten-4" app>
      <v-list dense class="grey lighten-4">

        <template>
          <v-layout row align-center>
            <v-flex xs6>
              <v-subheader>&nbsp; Notes</v-subheader>
            </v-flex>
            <v-flex xs6 class="text-xs-right">
              <!--<v-btn small flat>edit</v-btn>-->
            </v-flex>
          </v-layout>


          <v-list-tile @click="">
            <v-list-tile-action>
              <v-icon>add</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="grey--text">
                Add Note
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-divider dark class="my-3"></v-divider>

          <v-list-tile @click="">
            <v-list-tile-action>
              <v-icon>library_books</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="grey--text">
                All Notes
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile @click="">
            <v-list-tile-action>
              <v-icon>star</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="grey--text">
                Starred
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile @click="">
            <v-list-tile-action>
              <v-icon>filter_list</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="grey--text">
                Snippets
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile @click="">
            <v-list-tile-action>
              <v-icon>short_text</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="grey--text">
                Tags
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-divider dark class="my-3"></v-divider>

          <v-layout row align-center>
            <v-flex xs6>
              <v-subheader>&nbsp; Study Card Decks</v-subheader>
            </v-flex>
            <v-flex xs6 class="text-xs-right">
              <!--<v-btn small flat>edit</v-btn>-->
            </v-flex>
          </v-layout>

          <v-list-tile @click="">
            <v-list-tile-action>
              <v-icon>add</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="grey--text">
                Add Deck
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile @click="">
            <v-list-tile-action>
              <v-icon>layers</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="grey--text">
                All Decks
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>


          <v-list-tile @click="">
            <v-list-tile-action>
              <v-icon>touch_app</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="grey--text">
                Review Deck
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile @click="">
            <v-list-tile-action>
              <v-icon>lightbulb_outline</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="grey--text">
                Study Session
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-divider dark class="my-3"></v-divider>

          <v-layout row align-center>
            <v-flex xs6>
              <v-subheader>&nbsp; Note Bin </v-subheader>
            </v-flex>
            <v-flex xs6 class="text-xs-right">
              <!--<v-btn small flat>edit</v-btn>-->
            </v-flex>
          </v-layout>

          <v-list-tile @click="">
            <v-list-tile-action>
              <v-icon>archive</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="grey--text">
                Archive
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile @click="">
            <v-list-tile-action>
              <v-icon>delete</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="grey--text">
                Trash
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-divider dark class="my-3"></v-divider>

          <v-layout row align-center>
            <v-flex xs6>
              <v-subheader>&nbsp; Settings </v-subheader>
            </v-flex>
            <v-flex xs6 class="text-xs-right">
              <!--<v-btn small flat>edit</v-btn>-->
            </v-flex>
          </v-layout>

          <v-list-tile @click="">
            <v-list-tile-action>
              <v-icon>arrow_upward</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="grey--text">
                Pro Upgrade
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile @click="">
            <v-list-tile-action>
              <v-icon>person</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="grey--text">
                Profile
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile @click="">
            <v-list-tile-action>
              <v-icon>chat</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="grey--text">
                Site Feedback
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile @click="">
            <v-list-tile-action>
              <v-icon>help</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="grey--text">
                Help
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>

      </v-list>
    </v-navigation-drawer>
    <v-toolbar color="amber" app absolute clipped-left>
      <v-toolbar-side-icon @click.native="drawer = !drawer"></v-toolbar-side-icon>
      <span class="title ml-3 mr-5">Noteler&nbsp;<span class="font-weight-light">Portal</span></span>
      <v-text-field solo-inverted flat hide-details label="Search" prepend-inner-icon="search"
      ></v-text-field>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-content>
      <v-container fluid fill-height class="grey lighten-4">
        <v-layout justify-center align-center>
          <v-flex shrink>

            <!--<v-tooltip right>-->
            <!--<v-btn-->
            <!--slot="activator"-->
            <!--:href="source"-->
            <!--icon-->
            <!--large-->
            <!--target="_blank"-->
            <!--&gt;-->
            <!--<v-icon large>code</v-icon>-->
            <!--</v-btn>-->
            <!--<span>Source</span>-->
            <!--</v-tooltip>-->
            <!--<v-tooltip right>-->
            <!--<v-btn slot="activator" icon large href="https://codepen.io/johnjleider/pen/jZQNbd" target="_blank">-->
            <!--<v-icon large>mdi-codepen</v-icon>-->
            <!--</v-btn>-->
            <!--<span>Codepen</span>-->
            <!--</v-tooltip>-->


            <router-view :key="$route.fullPath"></router-view>


          </v-flex>
        </v-layout>
      </v-container>
    </v-content>

  </v-app>

  <!--<PortalNavigation/>-->

  <!--<section class="router-view-content">-->
  <!--<router-view :key="$route.fullPath"></router-view>-->
  <!--</section>-->

  <!--<div class="push"></div>-->
  <!--<PortalFooter/>-->
</section>

