<v-navigation-drawer v-model="visible" fixed clipped class="grey lighten-4" app>
  <v-list dense class="grey lighten-4">
    <template v-for="(link, i) in DRAWER">

      <v-layout v-if="link.type === TYPE.HEADING" row align-center :key="i">
        <v-flex xs6>
          <v-subheader>&nbsp{{link.text}}</v-subheader>
        </v-flex>
        <v-flex xs6 class="text-xs-right">
        </v-flex>
      </v-layout>

      <v-list-tile v-else-if="link.type === TYPE.ITEM"  @click="link.action($router)" :key="i">
        <v-list-tile-action>
          <v-icon>{{link.icon}}</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title class="grey--text">
            {{link.text}}
          </v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-divider v-else-if="link.type === TYPE.DIVIDER" dark class="my-3" :key="i"></v-divider>

    </template>
  </v-list>
</v-navigation-drawer>

