.portal-notes {

  .pinned {
    transform: rotate(45deg);
  }
  .pinned {
    transform: rotate(45deg);
  }

  #noteTitle, #noteBody {
    color: #656565!important;
  }
  #noteTitle {
    font-size: 20px;
    font-weight: bolder;
  }

}

.note-private-toggle label {
  top: 5px!important;
}

.tag-input span.chip, .tag-input span.v-chip {
  background-color: #1976d2;
  color: #fff;
  padding-left:7px;
}

.tag-input span.chip::before, .tag-input span.v-chip::before {
  content: "label";
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
