<section class="portal-layout">
  <v-app id="keep">


    <drawer :drawer="drawer"></drawer>

    <v-toolbar color="amber" app clipped-left flat fixed>
      <v-toolbar-side-icon @click.native="drawer = !drawer"></v-toolbar-side-icon>
      <span class="title ml-3 ml-5 mr-5">Noteler&nbsp;<span class="font-weight-light">Portal</span></span>
      <v-text-field class="ml-3" solo-inverted flat hide-details label="Search" prepend-inner-icon="search"></v-text-field>
    </v-toolbar>

    <v-content>

      <v-flex>
        <router-view :key="$route.fullPath"></router-view>
      </v-flex>

    </v-content>

  </v-app>
</section>
