<v-dialog v-model="editingNote" fullscreen hide-overlay transition="slide-y-transition" ref="noteEditor">
  <v-card>

    <save-toolbar @save-changes="saveNote" @clear-changes="clearChanges"></save-toolbar>

    <v-container fluid>
      <v-form ref="noteEditorForm">

        <note-meta :note="this.currentNote"></note-meta>







        <tinymce id="noteEditor" v-model="currentNote.noteBody"
                 :toolbar2="toolbar2" ref="editorBody" :other_options="otherOptions">
        </tinymce>

      </v-form>
    </v-container>

  </v-card>
</v-dialog>

