<section class="portal-note-detail" id="portalNoteDetail">
  <div class="container-fluid" >
    <div class="row note-action" >
      <div class="col-sm-1 note-action-back">
        <button v-on:click="cancel()" class="btn btn-danger btn-shadow btn-rounded" title="Cancel">
          <i class="zmdi zmdi-close"></i>
        </button>
      </div>
      <div class="col-sm-9 note-title-row">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="note-title">Note Title</span>
          </div>
          <input v-model="currentNote.noteTitle" type="text"
                 class="form-control note-title-input" placeholder="Document Name" aria-label="Document Name" aria-describedby="document-name">
        </div>

      </div>
      <div class="col-sm-2 note-action-save">
        <button v-on:click="saveNote()" class="btn btn-success btn-shadow btn-rounded" title="Save">
          Save &nbsp; <i class="zmdi zmdi-check"></i>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 padding-0">
        <vue-editor
          ref="noteEditor"
          useCustomImageHandler
          @imageAdded="insertS3Image"
          v-model="currentNote.noteBody" class="quill-container"></vue-editor>
      </div>
    </div>
  </div>
  <b-modal id="modal-center" ref="unsavedChanges" centered title="Save Changes First?">
    <p class="my-4">You have unsaved changes! Would you like save before you leave?</p>
    <div slot="modal-footer" class="w-100">
      <b-btn @click="backNoSave" class="btn btn-danger btn-shadow btn-rounded float-sm-left">Don't Save</b-btn>
      <b-btn @click="backWithSave" class="btn btn-success btn-shadow btn-rounded float-sm-right">Save</b-btn>
      <span class="float-sm-right"> &nbsp; </span>
      <b-btn @click="backCancel" class="btn btn-secondary btn-shadow btn-rounded float-sm-right">Cancel</b-btn>
    </div>

  </b-modal>
</section>

