.registration-confirm {

}
.register-activate-arrow {
  padding-top: 3px;
  display: block;
  float: right;
}

.home-form-left h2 {
  line-height: 42px;
  margin-top: 0;
}

.pw-set-wrap {
  text-align: left;
}
.pw-rules-wrap {
  font-size: 12px;
  margin-bottom: 20px;
}
.pw-rule:before {
  font-family: 'Material-Design-Iconic-Font';
  content: "\53";
  margin-right: 5px;
  color: #ccc;
  vertical-align: middle;
}
.valid {
  color: #28a745;
  &:before {
    content: "\f267";
    color: #28a745;
  }
}
