.portal-dashboard {

  .search-form {
    margin-top: 20px;

    .search {
      position: relative;
      max-width: 600px;
      margin: 0 auto;

      input {
        width: 100%;
        font-size: 17px;
        border: none;
        outline: none !important;
        padding: 15px 150px 15px 30px;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 30px;
      }

      button {
        position: absolute;
        top: 4px;
        right: 4px;
        outline: none !important;
        border-radius: 30px;
        border: none;
        color: #fff;
        font-size: 17px;
        background: #374760;
        padding: 11px 30px;
        cursor: pointer;
      }
    }
  }
}
