
<section class="navigation">
  <!-- STRAT NAVBAR -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark">
    <div class="container">
      <!-- LOGO -->
      <a class="navbar-brand logo" href="index.html">
        <i class="zmdi zmdi-navigation"></i> <span>starto</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
              aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="zmdi zmdi-menu"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">


        <ul class="nav navbar-nav navbar-right ml-auto">
          <li class="nav-item">
            <a href="" class="nav-link">Login</a>
          </li>
          <li class="nav-item">
            <a href="" class="btn btn-inverse btn-bordered navbar-btn nav-link">Signup</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
  <!-- END NAVBAR -->
</section>

