<section class="section" id="features">

  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="title-box">
          <h3 class="fadeIn animated wow" data-wow-delay=".1s">Need More Help ?</h3>
          <div class="border"></div>
        </div>
      </div>
    </div> <!-- end row -->

    <div class="row text-center">
      <div class="col-lg-4">
        <div class="service-item animated fadeInLeft wow" data-wow-delay=".1s">
          <h2><i class="zmdi zmdi-collection-item-1 text-colored"></i></h2>
          <div class="service-detail">
            <h4>Lost Password?</h4>
            <p>
              <router-link :to="{name: 'PasswordReset'}"
                           class="btn btn-primary btn-shadow btn-rounded w-lg">
                Reset Password
              </router-link>
            </p>
          </div> <!-- /service-detail -->
        </div> <!-- /service-item -->
      </div> <!-- /col -->

      <div class="col-lg-4">
        <div class="service-item animated fadeInDown wow" data-wow-delay=".3s">
          <h2><i class="zmdi zmdi-collection-item-2 text-colored"></i></h2>
          <div class="service-detail">
            <h4>Not Registered?</h4>
            <p>
              <router-link :to="{name: 'RegistrationFull'}"
                           class="btn btn-primary btn-shadow btn-rounded w-lg">
                Register Now
              </router-link>
            </p>
          </div> <!-- /service-detail -->
        </div> <!-- /service-item -->
      </div> <!-- /col -->

      <div class="col-lg-4">
        <div class="service-item animated fadeInRight wow" data-wow-delay=".5s">
          <h2><i class="zmdi zmdi-collection-item-3 text-colored"></i></h2>
          <div class="service-detail">
            <h4>Something Else?</h4>
            <p>
              <router-link :to="{name: 'SupportHome'}"
                           class="btn btn-primary btn-shadow btn-rounded w-lg">
                Register Now
              </router-link>
            </p>
          </div> <!-- /service-detail -->
        </div> <!-- /service-item -->
      </div> <!-- /col -->
    </div> <!--end row -->


  </div> <!-- end container -->
</section>



