<section class="portal-note-detail" id="portalCardDeckDetail">
  <div class="container-fluid">
    <div class="row note-action">
      <div class="col-sm-12 note-title-row">

        <div class="input-group">
          <!-- Name -->
          <div class="input-group-prepend"><span class="input-group-text">Name:</span></div>
          <input type="text" v-model="currentDeck.deckName"
                 class="form-control note-title-input" placeholder="Deck Name">

          <!-- Description -->&nbsp;
          <div class="input-group-prepend"><span class="input-group-text">Description</span></div>
          <input type="text" v-model="currentDeck.deckDescription"
                 class="form-control note-title-input" placeholder="Deck Description" >

          &nbsp;
          <b-button title="Cancel" variant="secondary">Close</b-button>
          &nbsp;
          <b-button  v-shortkey="['ctrl', 's']" @shortkey="saveDeck()" title="Save" variant="success">Save</b-button>
        </div>
      </div>
    </div>
  </div>
</section>

