.password-reset {

  .search-form {
    margin-top: 20px;

    .search {
      position: relative;
      max-width: 600px;
      margin: 0 auto;

      input {
        width: 100%;
        font-size: 17px;
        border: none;
        outline: none !important;
        padding: 15px 150px 15px 30px;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 30px;
      }

      button {
        position: absolute;
        top: 4px;
        right: 4px;
        outline: none !important;
        border-radius: 30px;
        border: none;
        color: #fff;
        font-size: 17px;
        background: #374760;
        padding: 11px 30px;
        cursor: pointer;
      }
    }
  }
}
.register-activate-arrow {
  padding-top: 3px;
  display: block;
  float: right;
}

.home-form-left h2 {
  line-height: 42px;
  margin-top: 0;
}

.pw-set-wrap {
  text-align: left;
}
.pw-rules-wrap {
  font-size: 12px;
  margin-bottom: 20px;
}
.pw-rule:before {
  font-family: 'Material-Design-Iconic-Font';
  content: "\53";
  margin-right: 5px;
  color: #ccc;
  vertical-align: middle;
}
.valid {
  color: #28a745;
  &:before {
    content: "\f267";
    color: #28a745;
  }
}
