<section class="password-reset">
  <section class="home">
    <!-- <div class="bg-overlay"></div> -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">

          <div class="home-wrapper text-center">
            <h2 class="animated fadeInDown wow" data-wow-delay=".1s">
              Noteler <span class="text-colored">Password Reset</span>
            </h2>
            <div class="row">
              <div class="col-lg-10 offset-lg-1">
                <p class="animated fadeInDown wow text-muted" data-wow-delay=".2s">
                  It's ok, we all forget from time to time. We'll send you an E-Mail so you can reset your password.
                </p>
              </div>
            </div>
            <div class="text-center search-form">
              <div class="search">
                <input type="text"
                       v-on:keyup.enter="sendReset"
                       v-model="reset.email" placeholder="E-Mail Address ">
                <button v-on:click="sendReset">Send Reset</button>
              </div>
            </div>

            <div class="clearfix"></div>
          </div><!-- home wrapper -->

        </div> <!-- end col -->
      </div> <!-- end row -->
    </div> <!-- end container -->
  </section>

  <AccountInstructions/>

  <b-modal id="modal-center" ref="resetSent"
           @ok="resetSentOk"
           :ok-only="true"
           :ok-title="'Ok'"
           :ok-variant="'primary'"
           centered title="Password Reset E-Mail Sent">
    <p class="my-4">Donezo! We've sent the E-Mail! Please check your Inbox.</p>
  </b-modal>
  <b-modal id="modal-center" ref="problemResetting"
           @ok="show=false"
           :ok-only="true"
           :ok-title="'Ok'"
           :ok-variant="'primary'"
           centered title="Password Reset Failed">
    <p class="my-4">Oops! There was a problem resetting your password. Please try again.</p>
  </b-modal>
</section>


