.portal-note-view {
}

.note-action {
  padding: 16px 0;
  margin-bottom: 20px;
  background-color: #f7f7f7;
}

.note-action-buttons {
  padding: 0 24px;
  text-align: left;
}

.title-box {
  h2 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
  }
}
