html, body {
  height: 100%;
  margin: 0;
}

.section-pad {
  padding: 2.5em 1em;
}
.sticky-wrapper {
  top: 0;
  height: 92px;
}
.portal-footer, .footer-landing {
  height: 382px !important;
}

.push {
  height: 435px !important;
}

.router-view-content {
  height: 100%;
  min-height: 100%;
  margin: 0 auto -220px;
}

/*.footer {*/
  /*padding-bottom: 0;*/
/*}*/
.padding-0 {
  padding: 0;
}

.card-shadow {
  box-shadow: 1px 5px 9px rgba(158, 159, 159, 0.32);
}

.fab-main.pointer i {
  color: #fff !important;
}

.back-to-top {
  right: initial;
  left: 20px;
}
.navbar-custom {
  background-color: #dbdbdb;
}
.navbar-custom .navbar-nav li a {
  color: #333;
}

.vue-input-tag-wrapper .input-tag .remove {
  color: #ffffff!important;;
}

.vue-input-tag-wrapper .input-tag {
  color: #fff!important;
  background-color: #9c27b0!important;;
  border: 1px solid #481151!important;;
  padding: 0 5px!important;;
  font-size: 14px!important;;
  margin: 0 2px!important;;
}

.tab-active {
  background-color: #3b78e7!important;
}
