<section class="portal-note-detail" id="portalNoteDetail" xmlns:v-on="http://www.w3.org/1999/xhtml">
  <div class="container-fluid">
    <div class="row note-action">
      <div class="col-sm-12 note-title-row">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
                <b-form-checkbox v-model="currentNote.isPrivate"
                                 value="true"
                                 unchecked-value="false">Shared</b-form-checkbox>
            </span>
          </div>
          <input v-model="currentNote.noteTitle" type="text"
                 class="form-control note-title-input" placeholder="Add A Title" aria-label="Title"
                 aria-describedby="note-title">
          &nbsp;
          <div class="input-group-prepend"><span class="input-group-text">Tags</span></div>
          <input-tag type="text" :tags.sync="tagsArray"
                           class="form-control note-title-input" placeholder="Add Some Tags"></input-tag>

          <b-button v-on:click="cancel()" title="Cancel" variant="secondary">Close</b-button>
          &nbsp;
          <b-button v-on:click="saveNote()" v-shortkey="['ctrl', 's']" @shortkey="saveNote()" title="Save"
                    variant="success">Save Note
          </b-button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 padding-0">
        <vue-editor
          :customModules="customModulesForEditor"
          :editorOptions="editorSettings"
          ref="noteEditor"
          useCustomImageHandler
          @imageAdded="insertS3Image"
          v-model="currentNote.noteBody"></vue-editor>
      </div>
    </div>
  </div>
  <b-modal id="modal-center" ref="unsavedChanges" centered title="Save Changes First?">
    <p class="my-4">You have unsaved changes! Would you like save before you leave?</p>
    <div slot="modal-footer" class="w-100">
      <b-btn @click="backNoSave" class="btn btn-danger btn-shadow btn-rounded float-sm-left">Don't Save</b-btn>
      <b-btn @click="backWithSave"
             class="btn btn-success btn-shadow btn-rounded float-sm-right">Save Note
      </b-btn>
      <span class="float-sm-right"> &nbsp; </span>
      <b-btn @click="backCancel"
             class="btn btn-secondary btn-shadow btn-rounded float-sm-right">Cancel
      </b-btn>
    </div>

  </b-modal>
</section>

