<v-container fluid>
  <v-layout row wrap>

    <!-- S:TITLE -->
    <v-flex xs12 sm6>
      <v-text-field
        v-model="note.noteTitle"
        label="Note Title" id="noteTitle" color="primary accent-4"></v-text-field>
    </v-flex>
    <!-- E:TITLE -->

    <v-spacer></v-spacer>

    <!-- S:TAGS -->
    <v-flex xs12 sm5>
      <v-combobox multiple
                  v-model="tags" label="Tags"
                  append-icon chips small-chips deletable-chips
                  class="tag-input"
                  :search-input.sync="tag"
                  @keyup.tab="insertTag"
                  @paste="insertTag">

      </v-combobox>
    </v-flex>
    <v-flex xs12 sm1>
      <v-switch label="Private" color="success" class="note-private-toggle"
                v-model="note.isPrivate"></v-switch>
    </v-flex>
    <!-- E:TAGS -->
  </v-layout>
</v-container>
