
<section class="portal-navigation">
  <!-- START NAVBAR -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark app-header-nav-wrap">
    <div class="container">
      <!-- LOGO -->
      <a class="navbar-brand logo" routerLink="/">
        <i class="zmdi zmdi-dialpad"></i> <span> noteler</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="zmdi zmdi-menu"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="nav navbar-nav navbar-right ml-auto">

          <!-- notes -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Notes
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="account/notes/3">View All</a>
              <a class="dropdown-item" href="#">Search</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Add New Notes</a>
            </div>
          </li>

          <!-- study -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Study
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Flash Cards</a>
              <a class="dropdown-item" href="#">Quiz Central</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Study Session</a>
            </div>
          </li>

          <!-- account -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" href="#">Settings</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Help</a>
            </div>
          </li>

          <li class="nav-item">
            <a href="javascript:void(0)" v-on:click="logout()"
               class="btn btn-inverse btn-bordered navbar-btn nav-link">Logout</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
  <!-- END NAVBAR -->

</section>

